.header {
    width: calc(100% - (48px * 2));
    display: flex;
    justify-content: space-between;
    margin: 28px auto 0;
}
@media screen and (max-width: 985px) {
    .header {
        width: calc(100% - 24px * 2);
    }
}
@media screen and (max-width: 570px) {
    .header {
        width: calc(100% - (16px * 2));
        margin: 16px auto 0;
    }
}