.place__paragraph {
    grid-area: paragraph;
    font-weight: 400;
    font-size: 18px;
    line-height: 161%;
    margin: 0;
    text-align: start;
    padding-top: 1px;
}
@media screen and (max-width: 1278px) {
    .place__paragraph {
        max-width: 456px;
    }
}
@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
        padding: 0;
    }
}
@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px 0;
        text-align: start;
    }
}