.intro {
    display: flex;
    flex-direction: column;
    width: 690px;
    margin-top: 114px;
    margin-left: 148px;
}
@media screen and (max-width: 1024px) {
    .intro {
        margin-top: 92px;
        margin-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 24px * 2);
        margin: 88px auto 0;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 16px * 2);
        margin: 64px auto 0;
    }
}