.place__block {
    list-style-type: none;
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "title website"
    "image paragraph";
    gap: 48px 40px;
    margin: 80px 0 0;
    padding: 0;
}
.place__block:first-child {
    margin: 0;
}
@media screen and (max-width: 1278px) {
    .place__block {
        grid-template-columns: minmax(340px, 440px) 1fr;
        gap: 48px 32px;
    }
}
@media screen and (max-width: 1023px) {
    .place__block {
        grid-template-columns: minmax(250px, 340px) minmax(230px, 1fr);
        gap: 47px 28px;
        margin: 73px 0 0;
    }
    .place__block:first-child {
        row-gap: 48px;
    }
    .place__block:nth-child(2) {
        margin-top: 72px;
    }
}

@media screen and (max-width: 767px) {
    .place__block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "title"
        "website"
        "image"
        "paragraph";
        margin-top: 50px;
        row-gap: 32px;
    }
    .place__block:first-child {
        row-gap: 32px;
    }
}