.place__link {
    color: #FFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: none;
    border-bottom: 1px solid #FFFFFF;
    transition: opacity .5s ease-in-out;
}
.place__link:hover {
    opacity: .8;
}